@model CharacterManager.Models.Character
@using CharacterManager.Models
@using CharacterManager.DAL


@{
    ViewBag.Title = Model.CharacterName;
    UnitOfWork unitOfWork = new UnitOfWork();
    var campaignID = Model.Campaign.CampaignID;
    var gm = unitOfWork.CharacterRepository.Get().Where(x => x.CampaignID == campaignID).OrderBy(x => x.CharacterID).First();
    var partyloot = unitOfWork.LocationRepository.Get().Where(x => x.Inventory.Character.CharacterID == gm.CharacterID).Where(y => y.LocationType == (LocationType)3);
    var characters = unitOfWork.CharacterRepository.Get().Where(x => x.CampaignID == campaignID && x.CharacterID != Model.CharacterID);

    var inventoryID = Model.Inventories.First().InventoryID;
    var locations = unitOfWork.LocationRepository.Get().Where(x => x.InventoryID == inventoryID);
    var equipment = locations.Where(x => x.LocationType == (LocationType)0).First();
    var inventory = locations.Where(x => x.LocationType == (LocationType)1).First();

    var items = unitOfWork.ItemRepository.Get().Where(x => x.Location.Inventory.CharacterID == Model.CharacterID);
    var partylootitems = partyloot.First().Items;
}

<h2>@Model.CharacterName</h2>

<div id="characterID" class="hidden" value="@Model.CharacterID"></div>



<div class="container">
    <div class="row">
        <div class="col-md-3">

            <h2>@equipment.LocationName</h2>
            <div id="EquipmentGrid" class="inventory-table" locationid="@equipment.LocationID">
                <div class="inventory-row">
                    <div class="inventory-cell" cellid="1" locationid="@equipment.LocationID"></div>
                    <div class="equipment-label1">Head</div>
                    <div class="equipment-label2">Belt</div>
                    <div class="inventory-cell" cellid="9" locationid="@equipment.LocationID"></div>
                </div>
                <div class="inventory-row">
                    <div class="inventory-cell" cellid="2" locationid="@equipment.LocationID"></div>
                    <div class="equipment-label1">Headband</div>
                    <div class="equipment-label2">Wrists</div>
                    <div class="inventory-cell" cellid="10" locationid="@equipment.LocationID"></div>
                </div>
                <div class="inventory-row">
                    <div class="inventory-cell" cellid="3" locationid="@equipment.LocationID"></div>
                    <div class="equipment-label1">Eyes</div>
                    <div class="equipment-label2">Hands</div>
                    <div class="inventory-cell" cellid="11" locationid="@equipment.LocationID"></div>
                </div>
                <div class="inventory-row">
                    <div class="inventory-cell" cellid="4" locationid="@equipment.LocationID"></div>
                    <div class="equipment-label1">Shoulders</div>
                    <div class="equipment-label2">Ring</div>
                    <div class="inventory-cell" cellid="12" locationid="@equipment.LocationID"></div>
                </div>
                <div class="inventory-row">
                    <div class="inventory-cell" cellid="5" locationid="@equipment.LocationID"></div>
                    <div class="equipment-label1">Neck</div>
                    <div class="equipment-label2">Ring</div>
                    <div class="inventory-cell" cellid="13" locationid="@equipment.LocationID"></div>
                </div>
                <div class="inventory-row">
                    <div class="inventory-cell" cellid="6" locationid="@equipment.LocationID"></div>
                    <div class="equipment-label1">Chest</div>
                </div>
                <div class="inventory-row">
                    <div class="inventory-cell" cellid="7" locationid="@equipment.LocationID"></div>
                    <div class="equipment-label1">Body</div>
                    <div class="equipment-label2">Primary</div>
                    <div class="inventory-cell" cellid="14" locationid="@equipment.LocationID"></div>
                </div>
                <div class="inventory-row">
                    <div class="inventory-cell" cellid="8" locationid="@equipment.LocationID"></div>
                    <div class="equipment-label1">Armor</div>
                    <div class="equipment-label2">Secondary</div>
                    <div class="inventory-cell" cellid="15" locationid="@equipment.LocationID"></div>
                </div>
            </div>

        </div>
        <div class="col-md-3">

            <h2>@inventory.LocationName</h2>
            <div id="InventoryGrid" class="inventory-table" locationid="@inventory.LocationID">

            </div>


        </div>

    </div>
</div>







<div id="itemSpawn" class="hidden">
    @foreach(var item in items)
    {
    <div class="inventory-item @item.BaseItem.Icon.IconSheet @item.BaseItem.Icon.IconPosition" thisitemid="@item.ItemID" slotid="@item.Slot" locationid="@item.LocationID">
        <b class="item-quantity">@item.Quantity</b>
    </div>
    }
</div>

<div id="itemCards" class="hidden">
    @foreach(var item in items)
    {

    }
</div>


@*<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CharacterID }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@

@section Scripts {
    @Scripts.Render("~/Scripts/CharacterUI.js")
}
